table.partslist {
	border: 1px solid black;
	font-family: "Courier New";
}

table.partslist td {
 	vertical-align: top;
}
table.partslist th {
 	text-align: left;
}

table.RFdetectors {
	border-collapse: collapse;
	width: 1400px;
}

table.RFdetectors th, td {
	border: 1px solid black;
}

table.RFdetectors td {
	text-align: center;
}
