table.partslist {
	border: 1px solid black;
	font-family: "Courier New";
}

table.partslist td {
 	vertical-align: top;
}
table.partslist th {
 	text-align: left;
}

table.RFdetectors {
	border-collapse: collapse;
	width: 1400px;
}

table.RFdetectors th, td {
	border: 1px solid black;
}

table.RFdetectors td {
	text-align: center;
}

table.specifications td {
	border: 0px;
	padding: 5px;
	vertical-align: top;
}

table.specifications {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	width: 1000px;
	border-collapse: collapse;
}


table.specifications tr.section {
	border-top: 1px solid black;
}

.flex-container {
	display: flex;
	flex-direction: column;
	margin-left: 16px;
}

.link-list {
	display: flex;
}

.link-list ul {
	list-style: none;
}

.link-list li{
	margin-bottom: 10px;
}

.bottom-block {
}
